body {
  margin: 0;
  padding: 0;
  background: url(../img/bgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

.input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #393422e6;
  padding: 40px; /* Perbesar padding */
  width: 300px; /* Perbesar lebar */
  height: 450px; /* Tambahkan tinggi */
  box-shadow: 0px 0px 25px 10px black;
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center; /* Pusatkan logo secara horizontal */
  margin-bottom: 30px; /* Jarak antara logo dan teks LOGIN */
  margin-top: 0px;
}

.logo img {
  max-width: 100px; /* Sesuaikan ukuran logo */
  height: auto; /* Jaga rasio aspek */
  border-radius: 10px; /* Opsional: Berikan sudut membulat pada logo */
}

.input h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: -20px;
}

.box-input {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 2px solid white;
  padding: 8px 0;
}

.box-input i {
  font-size: 20px;
  color: white;
  padding: 5px 0;
}

.box-input input {
  width: 87%;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

.box-input input::placeholder {
  color: white;
}

.btn-input .box-input input:hover {
  background: rgba(10, 10, 10, s 0.5);
}

.btn-input {
  margin-left: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid white;
  width: 95%;
  padding: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 40px;
}

.btn-input:hover {
  background: rgb(102, 188, 125);
}

.bottom {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -70px;
}

.bottom p {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.bottom a {
  color: lightgreen;
  font-size: 16px;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

.edit-btn,
.hapus-btn {

  cursor: pointer;
}

.edit-btn {
  background-color:#7895cb; /* Kuning pucat */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 70px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 800;
  color: #333;
}

